svg #root:hover .strips path {
  opacity: 0.7;
}
svg.focused .strips path {
  opacity: 0.7;
}
svg.focused .strips.active path {
  opacity: 1 !important;
}

svg .strips:hover > path {
  opacity: 1 !important;
}

.red path.c1 {
  fill: #d00505;
  stroke:#d90e0e;
}
.red path.c2 {
  fill: #d50f0f;
  stroke:#d90e0e;
}

.red path.c3 {
  fill: #e61212;
  stroke:#d90e0e;
}

.red path.c4 {
  fill: #b52323;
  stroke:#b52323;
}

/* 2) ---------------  Light Green ---------------- */
.green_light path.c1 {
  fill: #1aa51a;
  stroke:#1aa51a;
}
.green_light path.c2 {
  fill: #22a322;
  stroke:#1aa51a;
}

.green_light path.c3 {
  fill: #027f02;
  stroke:#027f02;
}

.green_light path.c4 {
  fill: #156d15;
  stroke:#156d15;
}
/* 3) ---------------  Dark Green ---------------- */
.green_dark path.c1 {
  fill: #156915;
  stroke:#196d19;
}
.green_dark path.c2 {
  fill: #196d19;
  stroke:#196d19;
}

.green_dark path.c3 {
  fill: #18bd18;
  stroke:#027f02;
}

.green_dark path.c4 {
  fill: #1d7f1d;
  stroke:#1d7f1d;
}

/* 4) --------------- Orange ---------------- */
.orange path.c1 {
  fill: #fd9914;
  stroke:#fd9f14;
}
.orange path.c2 {
  fill: #fd9f14;
  stroke:#fd9f14;
}

.orange path.c3 {
  fill: #ffb400;
  stroke:#de9d02;
}

.orange path.c4 {
  fill: #de9d02;
  stroke:#de9d02;
}

/* 5) --------------- Yellow ---------------- */
.yellow path.c1 {
  fill: #eadc6d;
  stroke: rgb(240, 223, 114);
}
.yellow path.c2 {
  fill: rgb(240, 223, 114);
  stroke:rgb(240, 223, 114);
}

.yellow path.c3 {
  fill: rgb(227, 189, 84);
  stroke: rgb(227, 189, 84);
}
.yellow path.c4 {
  fill: #a16f0d;
  stroke: #a16f0d;
}

/* 6) --------------- Crimson ---------------- */
.crimson path.c1 {
  fill: #af1111;
  stroke: #af1d3a;
}
.crimson path.c2 {
  fill:#af1d3a;
  stroke:#af1d3a;
}

.crimson path.c3 {
  fill: #ce1d1d;
  stroke: #ce1d1d;
}

.crimson path.c4 {
  fill: #961616;
  stroke: #961616;
}
/* 7) --------------- Cyclamen ---------------- */
.cyclamen path.c1 {
  fill: #ce3a77;
  stroke: rgb(210, 57, 120);
}
.cyclamen path.c2 {
  fill: rgb(210, 57, 120);
  stroke:rgb(210, 57, 120);
}

.cyclamen path.c3 {
  fill:  rgb(168, 37, 70);
  stroke:  rgb(168, 37, 70);
}
.cyclamen path.c4 {
  fill:  #92294d;
  stroke:  #92294d;
}

/* 8) --------------- Purple ---------------- */
.purple path.c1 {
  fill: #840484;
  stroke: #8e058e;
}
.purple path.c2 {
  fill: #8e058e;
  stroke:#8e058e;
}

.purple path.c3 {
  fill: #a207a2;
  stroke: #a207a2;
}
.purple path.c4 {
  fill: #831d84;
  stroke: #831d84;
}