body {
  margin: 0;
}

.header-area {
   display: flex;
  justify-content: center;
  background-color: DodgerBlue;
  background-size: 25vh;
}

.header-area > div {
  text-align: center;
}

.header-logo {
  width: 150px;
  height: 25vh;
  background: url(logo.svg) center no-repeat;
  background-size: 25vh;
}



/*
.bg-img {
    background-image: url(bg-img-2.jpg);
    background-position: center center;
    background-size: cover;
    height: 70vh;
}



header {
  position: absolute;
  transition: all 0.5s ease 0s;
  width: 100%;
  z-index: 99999;

  display: block;
}
    
  .header-area .header-top {

    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    outline: medium none;
    color: #686868;
  }

  .header-logo {
    vertical-align: middle;
  }

.header-logo {
  background: url('logo.svg') center no-repeat;
}
  */


