<div class="container">
    <div class="guide__header">
        <div class="close-button close-button--guide"></div>
    </div>
    <div class="guide-main__title">

    </div>
    <div class="guide-section">
        <div class="guide__image">
            <div class="size-guide__button size-guide__button--first-one">1</div>
            {{loadSVG 1}}
        </div>
        <div class="guide__content">
            <h3 class="guide__title">HOW TO MEASURE YOUR FOOT LENGTH?</h3>
            <p class="guide__text">
                1. To measure your feet take a piece of paper down to the floor. You are going to trace an outline of your barefoot onto
                this paper, so pick a hard surface that&#39;s easy to draw on.
                <br>
                <br> 2. Place your foot firmly on top of the piece of paper. Bend your leg slightly, with your shin in front
                of your ankle.
                <br>
                <br> 3. Trace your foot. Draw the outline of your foot all the way around. Be precise.
                <br>
                <br> 4. Mark the length of your foot on the paper. Use your marker to draw straight line touching each side of
                the outline.
                <br>
                <br> 5. Measure the length of your foot. Use a tape measure or ruler to measure from the big toe to heel of your
                foot. This number determine your shoe size.
                <br>
                <br> One foot is often slightly larger than the other. For best results, follow these steps for both feet.
        </div>
    </div>
    <div class="guide-section guide-section--inverse">
        <div class="guide__image">
            {{loadSVG 2}}
            <div class="guide__parts guide__parts--second">
                <div class="guide__part">2 - Joint girth</div>
                <div class="guide__part">3 - Joint girth</div>
                <div class="guide__part">4 - Joint girth</div>
                <div class="guide__part">5 - Joint girth</div>
            </div>
            <div class="size-guide__button size-guide__button--second-two">2</div>
            <div class="size-guide__button size-guide__button--second-three">3</div>
            <div class="size-guide__button size-guide__button--second-four">4</div>
            <div class="size-guide__button size-guide__button--second-five">5</div>
        </div>
        <div class="guide__content">
            <h3 class="guide__title">HOW TO MEASURE THE WIDTH OF YOUR FOOT ?</h3>
            <p class="guide__text">Your width fitting is just as important as your shoe size so after you finish with measuring your foot length,
                you need to measure the width of your foot.
                <br>Knowing your shoe width can make a world of difference when it comes to finding comfortable footwear.
                <br> Many people need narrow or wide shoes, so this step is just as important as the last.
            </p>
        </div>
    </div>
    <div class="guide-section guide-section--extra">
        <div class="guide__image">
            <!-- <h3 class="guide__title">Podnaslov</h3> -->
            <div class="guide__parts guide__parts--third">
                <div class="guide__part">2 - Joint girth</div>
                <div class="guide__part">3 - Joint girth</div>
                <div class="guide__part">4 - Joint girth</div>
                <div class="guide__part">5 - Joint girth</div>
            </div>
            <div class="size-guide__button size-guide__button--third-two">2</div>
            <div class="size-guide__button size-guide__button--third-three">3</div>
            <div class="size-guide__button size-guide__button--third-four">4</div>
            <div class="size-guide__button size-guide__button--third-five">5</div>
            {{loadSVG 3}}
        </div>
        <div class="guide__content">
            <p class="guide__text">
                Proccedure is very simple. Use a tape measure and measure the spots of the marked places going around the foot.
                <br> If you send us your own measurements, we will make sandals only for you as a custom order.
                <br> It is very important to measure your feet as accurately as possible and get your DIOCLETIA`s in the right
                size.
            </p>

        </div>
    </div>
</div>